* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;

}

html, body {
    height: auto;
    min-height: 100vh;

}

html {
    background: linear-gradient(180deg, hsl(0, 71%, 75%) 0%, #8e2bbc 100%);
}




